n8n-workflows/Add_Emoji_Schulolympiade_SQL.json
{
  "name": "Add Emoji Schulolympiade SQL",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ergebnis hinzufügen Schulolympiade 2025",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Emoji",
              "placeholder": "😂",
              "requiredField": true
            },
            {
              "fieldLabel": "Triggerwort",
              "placeholder": "Lachen",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "http://192.168.100.73:3001"
            }
          },
          "customCss": ":root {\n\t/* Typography - Apple System Fonts */\n\t--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-weight-semibold: 500;\n\t--font-size-body: 15px;\n\t--font-size-label: 17px;\n\t--font-size-test-notice: 14px;\n\t--font-size-input: 17px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 17px;\n\t--font-size-link: 15px;\n\t--font-size-error: 14px;\n\t--font-size-html-h1: 48px;\n\t--font-size-html-h2: 32px;\n\t--font-size-html-h3: 24px;\n\t--font-size-html-h4: 20px;\n\t--font-size-html-h5: 17px;\n\t--font-size-html-h6: 15px;\n\t--font-size-subheader: 20px;\n\n\t/* Colors - Apple Inspired Light Theme */\n\t--color-background: #ffffff;\n\t--color-secondary-background: #f8f9fa;\n\t--color-test-notice-text: #d68900;\n\t--color-test-notice-bg: rgba(255, 193, 7, 0.1);\n\t--color-test-notice-border: rgba(255, 193, 7, 0.3);\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #d2d2d7;\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #007aff;\n\t--color-header: #1d1d1f;\n\t--color-subheader: #86868b;\n\t--color-label: #1d1d1f;\n\t--color-input-border: #d2d2d7;\n\t--color-input-text: #1d1d1f;\n\t--color-input-bg: #f8f9fa;\n\t--color-focus-border: #007aff;\n\t--color-submit-btn-bg: #007aff;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ff3b30;\n\t--color-required: #ff3b30;\n\t--color-clear-button-bg: #86868b;\n\t--color-html-text: #1d1d1f;\n\t--color-html-link: #007aff;\n\t--color-header-subtext: #86868b;\n\t--color-placeholder: #86868b;\n\n\t/* Border Radii - Apple's Rounded Design */\n\t--border-radius-card: 24px;\n\t--border-radius-input: 12px;\n\t--border-radius-button: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 24px;\n\n\t/* Spacing - More Generous Apple-style */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 24px;\n\t--padding-form-input: 16px 20px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-small: 8px;\n\t--spacing-medium: 16px;\n\t--spacing-large: 24px;\n\t--spacing-xl: 32px;\n\n\t/* Dimensions */\n\t--container-width: 600px;\n\t--submit-btn-height: 56px;\n\t--checkbox-size: 20px;\n\t--input-height: 56px;\n\n\t/* Effects */\n\t--box-shadow-card: 0 8px 32px var(--color-card-shadow);\n\t--box-shadow-input-focus: 0 0 0 4px rgba(0, 122, 255, 0.1);\n\t--opacity-placeholder: 0.6;\n\t--transition-all: all 0.3s ease;\n}\n\n/* Dark Mode Support */\n@media (prefers-color-scheme: dark) {\n\t:root {\n\t\t--color-background: #000000;\n\t\t--color-secondary-background: #1c1c1e;\n\t\t--color-test-notice-text: #ffc107;\n\t\t--color-test-notice-bg: rgba(255, 193, 7, 0.1);\n\t\t--color-test-notice-border: rgba(255, 193, 7, 0.2);\n\t\t--color-card-bg: #2c2c2e;\n\t\t--color-card-border: #38383a;\n\t\t--color-card-shadow: rgba(0, 0, 0, 0.3);\n\t\t--color-link: #0a84ff;\n\t\t--color-header: #ffffff;\n\t\t--color-subheader: #8e8e93;\n\t\t--color-label: #ffffff;\n\t\t--color-input-border: #38383a;\n\t\t--color-input-text: #ffffff;\n\t\t--color-input-bg: #1c1c1e;\n\t\t--color-focus-border: #0a84ff;\n\t\t--color-submit-btn-bg: #0a84ff;\n\t\t--color-clear-button-bg: #8e8e93;\n\t\t--color-html-text: #ffffff;\n\t\t--color-html-link: #0a84ff;\n\t\t--color-placeholder: #8e8e93;\n\t}\n}\n\n/* Global Styles */\n* {\n\tbox-sizing: border-box;\n}\n\nbody {\n\tfont-family: var(--font-family);\n\tbackground: var(--color-background);\n\tcolor: var(--color-html-text);\n\tline-height: 1.47;\n\tmargin: 0;\n\tpadding: 0;\n\ttransition: var(--transition-all);\n}\n\n/* Container */\n.form-container {\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n\tpadding: var(--padding-container-top) var(--spacing-large);\n}\n\n/* Header Styles */\n.form-header {\n\ttext-align: center;\n\tmargin-bottom: var(--spacing-xl);\n}\n\n.form-header h1 {\n\tfont-size: var(--font-size-header);\n\tfont-weight: 700;\n\tletter-spacing: -0.025em;\n\tcolor: var(--color-header);\n\tmargin: 0 0 var(--spacing-medium) 0;\n\tbackground: linear-gradient(135deg, var(--color-submit-btn-bg), #5856d6);\n\t-webkit-background-clip: text;\n\t-webkit-text-fill-color: transparent;\n\tbackground-clip: text;\n}\n\n.form-header p,\n.form-header .subheader {\n\tfont-size: var(--font-size-subheader);\n\tcolor: var(--color-subheader);\n\tmargin: 0;\n\tfont-weight: var(--font-weight-normal);\n}\n\n/* Card Styles */\n.form-card,\n.card {\n\tbackground: var(--color-card-bg);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tpadding: var(--card-padding);\n\tmargin-bottom: var(--card-margin-bottom);\n\tbox-shadow: var(--box-shadow-card);\n\ttransition: var(--transition-all);\n}\n\n.form-card:hover,\n.card:hover {\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 12px 40px var(--color-card-shadow);\n}\n\n/* Test Notice */\n.test-notice {\n\tbackground: var(--color-test-notice-bg);\n\tborder: 1px solid var(--color-test-notice-border);\n\tborder-radius: var(--border-radius-input);\n\tpadding: var(--padding-test-notice-vertical) var(--padding-test-notice-horizontal);\n\tmargin-bottom: var(--spacing-large);\n\tcolor: var(--color-test-notice-text);\n\tfont-size: var(--font-size-test-notice);\n\tfont-weight: var(--font-weight-semibold);\n}\n\n/* Form Groups */\n.form-group {\n\tmargin-bottom: var(--spacing-large);\n}\n\n.form-group:last-child {\n\tmargin-bottom: 0;\n}\n\n/* Labels */\nlabel,\n.form-label {\n\tdisplay: block;\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-bold);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-small);\n\tline-height: 1.3;\n}\n\n.required-indicator {\n\tcolor: var(--color-required);\n\tfont-weight: var(--font-weight-bold);\n}\n\n/* Input Styles */\ninput[type=\"text\"],\ninput[type=\"email\"],\ninput[type=\"tel\"],\ninput[type=\"url\"],\ninput[type=\"password\"],\ninput[type=\"number\"],\ninput[type=\"date\"],\ninput[type=\"time\"],\ninput[type=\"datetime-local\"],\nselect,\ntextarea {\n\twidth: 100%;\n\theight: var(--input-height);\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground: var(--color-input-bg);\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\ttransition: var(--transition-all);\n\t-webkit-appearance: none;\n\tappearance: none;\n}\n\ntextarea {\n\theight: auto;\n\tmin-height: 120px;\n\tresize: vertical;\n\tline-height: 1.5;\n}\n\ninput:focus,\nselect:focus,\ntextarea:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: var(--box-shadow-input-focus);\n\tbackground: var(--color-card-bg);\n}\n\ninput::placeholder,\ntextarea::placeholder {\n\tcolor: var(--color-placeholder);\n\topacity: var(--opacity-placeholder);\n}\n\n/* Select Dropdown */\nselect {\n\tbackground-image: url(\"data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 16 16'%3E%3Cpath d='m8 10.293 3.146-3.147a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L8 10.293z'/%3E%3C/svg%3E\");\n\tbackground-repeat: no-repeat;\n\tbackground-position: right 16px center;\n\tbackground-size: 16px;\n\tpadding-right: 48px;\n}\n\n/* Checkbox and Radio */\ninput[type=\"checkbox\"],\ninput[type=\"radio\"] {\n\twidth: var(--checkbox-size);\n\theight: var(--checkbox-size);\n\tmargin-right: var(--spacing-small);\n\taccent-color: var(--color-submit-btn-bg);\n\ttransform: scale(1.2);\n}\n\n.checkbox-group,\n.radio-group {\n\tdisplay: flex;\n\talign-items: center;\n\tmargin-bottom: var(--spacing-medium);\n}\n\n.checkbox-group label,\n.radio-group label {\n\tmargin-bottom: 0;\n\tfont-weight: var(--font-weight-normal);\n\tcursor: pointer;\n\tdisplay: flex;\n\talign-items: center;\n}\n\n/* Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\n.btn-primary {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: var(--color-submit-btn-bg);\n\tcolor: var(--color-submit-btn-text);\n\tborder: none;\n\tborder-radius: var(--border-radius-button);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-bold);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-all);\n\tdisplay: flex;\n\talign-items: center;\n\tjustify-content: center;\n\ttext-decoration: none;\n\tmargin-top: var(--spacing-large);\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\n.btn-primary:hover {\n\tbackground: var(--color-focus-border);\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 24px rgba(0, 122, 255, 0.3);\n}\n\n.submit-btn:active,\nbutton[type=\"submit\"]:active,\n.btn-primary:active {\n\ttransform: translateY(0);\n}\n\n/* Error Messages */\n.error-message,\n.field-error {\n\tcolor: var(--color-error);\n\tfont-size: var(--font-size-error);\n\tmargin-top: var(--spacing-small);\n\tfont-weight: var(--font-weight-semibold);\n\tdisplay: flex;\n\talign-items: center;\n\tgap: var(--spacing-small);\n}\n\n.error-message::before,\n.field-error::before {\n\tcontent: \"⚠️\";\n}\n\n/* Links */\na {\n\tcolor: var(--color-link);\n\ttext-decoration: none;\n\tfont-weight: var(--font-weight-semibold);\n\ttransition: var(--transition-all);\n}\n\na:hover {\n\topacity: 0.8;\n\ttext-decoration: underline;\n}\n\n/* Clear Button */\n.clear-button {\n\tbackground: var(--color-clear-button-bg);\n\tcolor: white;\n\tborder: none;\n\tborder-radius: var(--border-radius-clear-btn);\n\twidth: 24px;\n\theight: 24px;\n\tcursor: pointer;\n\ttransition: var(--transition-all);\n\tdisplay: flex;\n\talign-items: center;\n\tjustify-content: center;\n\tfont-size: 12px;\n}\n\n.clear-button:hover {\n\topacity: 0.8;\n\ttransform: scale(1.1);\n}\n\n/* Responsive Design */\n@media (max-width: 768px) {\n\t.form-container {\n\t\tpadding: var(--spacing-large) var(--spacing-medium);\n\t}\n\t\n\t.form-header h1 {\n\t\tfont-size: 28px;\n\t}\n\t\n\t.card-padding {\n\t\tpadding: var(--spacing-large);\n\t}\n\t\n\t.form-card,\n\t.card {\n\t\tpadding: var(--spacing-large);\n\t}\n}\n\n/* Additional Form Elements */\n.form-row {\n\tdisplay: grid;\n\tgrid-template-columns: 1fr 1fr;\n\tgap: var(--spacing-medium);\n}\n\n@media (max-width: 640px) {\n\t.form-row {\n\t\tgrid-template-columns: 1fr;\n\t}\n}\n\n.help-text {\n\tfont-size: 14px;\n\tcolor: var(--color-subheader);\n\tmargin-top: var(--spacing-small);\n}\n\n/* File Upload */\ninput[type=\"file\"] {\n\tpadding: var(--spacing-medium);\n\tborder: 2px dashed var(--color-input-border);\n\tbackground: var(--color-secondary-background);\n\tcursor: pointer;\n}\n\ninput[type=\"file\"]:hover {\n\tborder-color: var(--color-focus-border);\n\tbackground: var(--color-card-bg);\n}\n\n/* Progress Indicators */\n.progress-bar {\n\twidth: 100%;\n\theight: 8px;\n\tbackground: var(--color-secondary-background);\n\tborder-radius: 4px;\n\toverflow: hidden;\n\tmargin: var(--spacing-medium) 0;\n}\n\n.progress-fill {\n\theight: 100%;\n\tbackground: linear-gradient(90deg, var(--color-submit-btn-bg), #5856d6);\n\ttransition: width 0.3s ease;\n}\n\n.n8n-link {\n  display: none;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -100,
        -20
      ],
      "id": "70c01c99-862e-430d-8994-ca03b5000663",
      "name": "On form submission1",
      "webhookId": "4c68f591-083d-4567-bc36-efe5c4b84ff8"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "emoji_mappings",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id",
              "value": "={{$now.toFormat(\"mmss\")}}"
            },
            {
              "column": "emoji",
              "value": "={{ $json.Emoji }}"
            },
            {
              "column": "trigger_word",
              "value": "={{ $json.Triggerwort }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        120,
        -20
      ],
      "id": "fc1a1204-4e45-4dfb-a3ea-3a17d03ab52f",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "44SdUVl2SKA0mgrO",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "http://192.168.100.73:3002"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        340,
        -20
      ],
      "id": "6119e20d-a5fa-4cd4-bd55-9adfbf74b9b8",
      "name": "Form",
      "webhookId": "46111fc8-1364-4744-9549-c09440078ce2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f19b069-b27c-44ca-88c0-194aec8b6fbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2606bd6823b75be00a67e6000aa5c6b0360d5c887eabaf00cc868b37c23f87dd"
  },
  "id": "gv4SoNYLtaTEs137",
  "tags": []
}
